
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.slide1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    background-color: #1F2937;
    padding: 32px 200px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

.img{
    display:flex;
    width: 50%;
    justify-content: end;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

ul, p{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

button{
    
}