
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

.slide1{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    background-color: rgb(69, 69, 134);
    padding: 32px 100px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
}

