
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.slide1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10vh;
    background-color: #1F2937;
    padding-top: 10px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    justify-content: space-between;
}

.text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}

.img{
    display:flex;
    width: 40%;
    justify-content: end;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

ul, p, button{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

button{
    background-color: #3882F6;
    border: 0;
    border-radius: 10px;
    height: 35px;
    width: 125px;
}

.slide2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 10vh;
    padding-bottom: 200px;
}

.slide2>.boxes>.box>p{
    color: #1F2937;
}

.boxes{
    display: flex;
    gap: 64px;
}

.box{
    height: 150px;
    width: 166px;
    text-align: center;
}

.box>div{
    border: 5px solid #3882F6;
    border-radius: 10px;
    height: 100%;
    width: auto;
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.slide3{
    display: flex;
    background-color: #E5E7EB;
    padding: 100px 310px;
    justify-content: center;
}

h3{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    margin: 0;
}

h4{
    font-size: 24px;
    text-align: right;
    margin: 10px;
}

.slide4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.action{
    display: flex;
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.action>div>h3{
    color: #F9FAF8;
    font-style: normal;
}

.action>button{
    border: 2.5px solid #F9FAF8;
}